<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{contact.name}}</h2>
    <div class="row pad-all">
      <div class="clearfix pull-left">
        <img src="{{contact.imageUrl}}"
             alt=""
             class="img-responsive" style="max-height: 100px; padding: 10px">
      </div>
      <span class="pull-right" style="margin-top: -45px;">
        <a routerLink="edit" class="btn btn-primary">Edit</a>
        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <p>Email: {{contact.email}}</p>
    <p>Phone: {{contact.phone}}</p>
    <div class="form-group">
      <label for="groupList">Contacts in team:</label>

      <div class="row" id="groupList"
           style="min-height: 3rem;">

        <div *ngFor="let contact of contact.group">
          <div>
            <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
